
.appMain {
    align-items: center;
}

.header-grupos {
    text-align: center;
    margin-top: 50px;
}

.header-grupos h1 {
    font-size: 4rem;
}

.group-container {
    border: 1px solid black;
    width: 200px;
    height: 250px;
}

.group-header {
    text-align: center;
}

.group-teams {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-container {
    margin-bottom: 20px;
}